<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
<header class="header-bar">
    <div class="header-title">
        <h3>Library</h3>
    </div>
    <div class="header-bar-menu-container">
        <ul id="header-bar-menu">
            
        </ul>
    </div>
</header>
    
<div class="sidebar">
    <div class="sidebar-header">
        <span class="company">Company</span>
        <div class="sub-header">
            <span class="title">Inventario</span>
        </div>
    </div>
    <div class="sidebar-items-container">
        <h4 class="label">Main</h4>
        <ul>
            <li class="active">Dashboard</li>           
            <li>Settings</li>
        </ul>
        <h5>All rights reserved. <br>Tyner©@DateTime.Now.Year</h5>
    </div>
</div>

<div class="container body-content">
    @RenderBody()

</div>
    
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/select2")
@RenderSection("scripts", required: false)

</body>
</html>
