@model Anuitex.WebLibrary.Models.SignUpModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="windows-container sing-container">
    <div class="windows-grid">
        <div class="window-wrapper signup-window">
            <div class="window">
                <div class="window-header">
                    <span class="icon ic-signup"></span>
                    <h4>Sign up</h4>                    
                </div>
                <div class="window-content">
                    @using (Html.BeginForm("ComputeSignUp", "Account"))
                    {
                        @Html.ValidationMessageFor(msg => msg.Login)
                        @Html.TextBoxFor(l => l.Login, new { @placeholder = "Login", @type = "text" })
                        @Html.ValidationMessageFor(msg => msg.Password)
                        @Html.TextBoxFor(l => l.Password, new { @placeholder = "Password", @type = "password" })
                        @Html.ValidationMessageFor(msg => msg.RepeatPassword)
                        @Html.TextBoxFor(l => l.RepeatPassword, new { @placeholder = "Repeat password", @type = "password" })
                        <input type="submit" class="btn" value="Come on">
                        @Html.ValidationSummary(true)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

