@model Anuitex.WebLibrary.Models.SignUpModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sing-container">
    <div class="windows-container">
        <div class="page-window signup-window">
            <div class="page-window-header">
                <span class="icon ic-signup"></span>
                <h4>Sign up</h4>
                <div class="cssload-container" id="load-anim" style="float: right">
                    <ul class="cssload-flex-container">
                        <li>
                            <span class="cssload-loading"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-window-container signup-container">
                @using (Html.BeginForm("ComputeSignUp", "Account"))
                {
                    @Html.ValidationMessageFor(msg => msg.Login)
                    @Html.TextBoxFor(l => l.Login, new { @placeholder = "Login", @type = "text" })
                    @Html.ValidationMessageFor(msg => msg.Password)
                    @Html.TextBoxFor(l => l.Password, new { @placeholder = "Password", @type = "password" })
                    @Html.ValidationMessageFor(msg => msg.RepeatPassword)
                    @Html.TextBoxFor(l => l.RepeatPassword, new { @placeholder = "Repeat password", @type = "password" })
                    <input type="submit" class="btn" value="Come on">
                    @Html.ValidationSummary(true)
                }
            </div>
        </div>
    </div>
</div>

