@using Anuitex.WebLibrary.Data
@using Anuitex.WebLibrary.Data.Models
@model Anuitex.WebLibrary.Models.BasketModel

@{
    ViewBag.Title = Model.CurrentNavSection.ToString();
}

<div class="nav-sector-controls">
    <h4>@Model.TotalProductsCount products of ₴@Model.SumPrice</h4>
    <br />
    <h4>Order №@Model.OrderId</h4>
    <a href="@Url.Action("AcceptSellOrder", "Sell", new {orderId = Model.OrderId})" class="btn btn-icon btn-accept-order">
        <span class="icon ic-accept"></span>
    </a>
</div>

<div class="windows-container">
    <ul class="windows-grid">
        @foreach (BookModel book in Model.BookProducts)
        {
            <li class="window-wrapper">
                <div class="window window-hovered-shadow">
                    <div class="window-header justify">
                        <span class="icon ic-book"></span>
                        <h4>@book.Author - @book.Title</h4>
                        <div class="window-header-buttons">                    
                            <a href="@Url.Action("RemoveProductFromBasket", "Sell", new {productId = book.Id, productType = typeof(Book).Name})" class="btn btn-icon">
                                <span class="icon ic-remove"></span>
                            </a>                   
                        </div>
                    </div>
                    <div class="window-content">
                        <div class="entity-photo" style="background-image: url(@(String.IsNullOrWhiteSpace(book.PhotoPath) ? "/Upload/Images/no-photo.png" : book.PhotoPath))"></div>
                        <span>Title:</span>
                        <span>@book.Title</span>
                        <br/>
                        <span>Author:</span>
                        <span>@book.Author</span>
                        <br/>
                        <span>Genre:</span>
                        <span>@book.Genre </span>
                        <br/>
                        <span>Year:</span>
                        <span>@book.Year</span>
                        <br/>
                        <span>Pages:</span>
                        <span>@book.Pages</span>
                        <br/>
                        <span>Available:</span>
                        <span>@book.Amount</span>
                        <br/>
                        <span>Price:</span>
                        <span><b>@book.Price</b></span>                
                    </div>
                </div>
            </li>
        }
        
        @foreach (JournalModel journal in Model.JournalProducts)
        {
            <li class="window-wrapper">
                <div class="window window-hovered-shadow">
                    <div class="window-header justify">
                        <span class="icon ic-journal"></span>
                        <h4>@journal.Title - @journal.Date</h4>
                        <div class="window-header-buttons">                            
                            <a href="@Url.Action("RemoveProductFromBasket", "Sell", new {productId = journal.Id, productType = typeof(Journal).Name})" class="btn btn-icon">
                                <span class="icon ic-remove"></span>
                            </a>                            
                        </div>
                    </div>
                    <div class="window-content">
                        @{
                            if (String.IsNullOrWhiteSpace(journal.PhotoPath))
                            {
                                <div class="entity-photo" style="background-image: url('/Upload/Images/no-photo.png'); background-size: 70%"></div>
                            }
                            else
                            {
                                <div class="entity-photo" style="background-image: url(@journal.PhotoPath); background-size: contain"></div>
                            }
                        }
                        <span>Title:</span>
                        <span>@journal.Title</span>
                        <br />
                        <span>Date:</span>
                        <span>@journal.Date</span>
                        <br />
                        <span>Periodicity:</span>
                        <span>@journal.Periodicity</span>
                        <br />
                        <span>Subjects:</span>
                        <span>@journal.Subjects</span>
                        <br />
                        <span>Available:</span>
                        <span>@journal.Amount</span>
                        <br />
                        <span>Price:</span>
                        <span><b>@journal.Price</b></span>
                    </div>
                </div>
            </li>
        }
        
        @foreach (NewspaperModel newspaper in Model.NewspaperProducts)
        {
            <li class="window-wrapper">
                <div class="window window-hovered-shadow">
                    <div class="window-header justify">
                        <span class="icon ic-newspaper"></span>
                        <h4>@newspaper.Title - @newspaper.Date</h4>
                        <div class="window-header-buttons">                                                            
                            <a href="@Url.Action("RemoveProductFromBasket", "Sell", new {productId = newspaper.Id, productType = typeof(Newspaper).Name})" class="btn btn-icon">
                                <span class="icon ic-remove"></span>
                            </a>                            
                        </div>
                    </div>
                    <div class="window-content">
                        @{
                            if (String.IsNullOrWhiteSpace(newspaper.PhotoPath))
                            {
                                <div class="entity-photo" style="background-image: url('/Upload/Images/no-photo.png'); background-size: 70%"></div>
                            }
                            else
                            {
                                <div class="entity-photo" style="background-image: url(@newspaper.PhotoPath); background-size: contain"></div>
                            }
                        }
                        <span>Title:</span>
                        <span>@newspaper.Title</span>
                        <br/>
                        <span>Date:</span>
                        <span>@newspaper.Date</span>
                        <br/>
                        <span>Periodicity:</span>
                        <span>@newspaper.Periodicity</span>
                        <br/>
                        <span>Available:</span>
                        <span>@newspaper.Amount</span>
                        <br/>
                        <span>Price:</span>
                        <span><b>@newspaper.Price</b></span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>