@using Anuitex.WebLibrary.Data
@model Anuitex.WebLibrary.Models.BooksModel

@if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
{
    <a class="btn btn-icon" id="btn-add-book" href="@Url.Action("AddBook")">
        <span class="icon ic-add"></span>
    </a>
}
<div class="windows-container">
    <ul class="windows-grid">
        @foreach (Book book in Model.Books)
        {
            <li class="window-wrapper">
                <div class="window window-hovered-shadow">
                    <div class="window-header justify">
                        <span class="icon ic-book"></span>
                        <h4>@book.Author - @book.Title</h4>
                        <div class="window-header-buttons">
                            @if (Model.CurrentUser != null && Model.CurrentUser.IsAdmin)
                            {
                                <a href="@Url.Action("EditBook","Books",new {id = book.Id})" class="btn btn-icon">
                                    <span class="icon ic-edit"></span>
                                </a>
                                <a  href="@Url.Action("RemoveBook","Books",new {id = book.Id})" class="btn btn-icon">
                                    <span class="icon ic-remove"></span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="window-content">
                        <div class="book-photo" style="background-image: url(@Model.GetPhotoPath(book.PhotoId.Value))"></div>
                        <span>Title:</span>
                        <span>@book.Title</span>
                        <br/>
                        <span>Author:</span>
                        <span>@book.Author</span>
                        <br/>
                        <span>Genre:</span>
                        <span>@book.Genre </span>
                        <br/>
                        <span>Year:</span>
                        <span>@book.Year</span>
                        <br/>
                        <span>Pages:</span>
                        <span>@book.Pages</span>
                        <br/>
                        <span>Available:</span>
                        <span>@book.Amount</span>
                        <br/>
                        <span>Price:</span>
                        <span><b>@book.Price</b></span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>